<div class="nav-items">
    <div class="items-row">
      <div class="row">
       
        <span class="col-md-12" [ngSwitch]="selected">
          <div class="nav-link dropdown-toggle mb-2" data-bs-toggle="dropdown" aria-expanded="false" (click)="ItemClick('Item')"> 
            <i class="bi bi-folder-fill"></i>&nbsp;<span>Item</span>
          </div><hr class="perfect">
        
            <div class="nav-link dropdown-toggle mb-2" href="#" data-bs-toggle="dropdown" aria-expanded="false"  (click)="ItemClick('QT1 Example Test')">
              <i class="bi bi-folder-fill" ></i>&nbsp; <span>QT1 Example Test</span>
              <ul class="dropdown-menu show" *ngSwitchCase="'QT1 Example Test'">
          <li><a class="dropdown-item" href="#" >Characters and Plays</a></li>
          <li><a class="dropdown-item" href="#">Chocolate Factory</a></li>
          <li><a class="dropdown-item" href="#">Election in the United States</a></li>
          <li><a class="dropdown-item" href="#">Identifying Sentence Errors</a></li>
          <li><a class="dropdown-item" href="#">Modal Feedback</a></li>
          <li><a class="dropdown-item" href="#">Periods of History</a></li>
          <li><a class="dropdown-item" href="#">Rechard ||| (Take2)</a></li>
          <li><a class="dropdown-item" href="#">The Space Shuttle, 30 years old</a></li>
          <li><a class="dropdown-item" href="#">New Item</a></li>
          
  
        </ul>
       
          </div><hr class="perfect">
          
          <div class="row" >
            <div class="col-md-3" style="position: absolute;bottom: 0px;left:-25px">
              <img src="./assets/icons.png" height="280px" >
            </div>
            <div class="col-md-9">
              <div class="card" style="width: 28rem;">
                <div class="card-header">
                  <h5 class="modal-title fs-9" id="ModalLabel">Edit Item</h5>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-5">
                      <label for="Label"><b>Label</b><span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" placeholder="New Item">
                      
                    </div>
                    
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-5">
                      <label for="Label"><b>Item Model</b></label>
                    </div>
                    <div class="col-md-7">
                      <input type="radio" style="accent-color: black;"> <b>QTl</b>
                      
                    </div>
                    
                  </div>
                </div>
          </div>
            </div>
          </div>  
        </span>
      </div>
    
    </div>
    <div class="savebtn">
        <img src="./assets/save.png" width="100px" alt="save">
    </div>
  


  
   